body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #5b5b5b;
    background-color: blanchedalmond;
    font-size: 25px;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: black;
    font-size: 37px;
    font-weight: bold;
    text-decoration: none;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-bottom: 3px;
}

.container {
    margin-top: 100px;
    text-align: center;
    line-height: 7px;
    color: #424242;
    margin-bottom: 120px;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    padding-right: 10px;
    max-width: 500px;
    color: #5b5b5b;
    position: fixed;
}

.text {
    max-width: 500px;
    padding: 10px;
}

.comment {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    max-width: 300px;
    padding-right: 10px;
}

.stars {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 5px;
}

button {
    margin-top: 10px;
    font-size: medium;
    color: black;
    background-color: blanchedalmond;
}
