<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/main.js"></script>
    <link href="static/Style.css" rel="stylesheet">
    <title>Comments</title>
</head>

<body>
    <header class="header container">
        <a href="#" class="logo">Магазинчик "Радости жизни"</a>
    </header>
    <div class="container">
        <h1>Лучший магазин!</h1>
        <p>Мы работаем каждый день</p>
        <div class="info">
            <a> Любим наших клиентов! </a>
        </div>
        <h2 class="comment"> Оставьте отзыв: </h2>
        <form>
        <div class="text">
            <input type="text" name="comment" id="comment">
        </div>
        <div class="stars">
            <input type="checkbox" name="star1" id="1" value="1">
            <label for="star1"> 1 </label>
            <input type="checkbox" name="star2" id="2" value="2">
            <label for="star2"> 2 </label>
            <input type="checkbox" name="star3" id="3" value="3">
            <label for="star3"> 3 </label>
            <input type="checkbox" name="star4" id="4" value="4">
            <label for="star4"> 4 </label>
            <input type="checkbox" name="star5" id="5" value="5">
            <label for="star5"> 5 </label>
        </div>
        <button onClick="addFeedback()"> Send </button>
        </form>
    </div>
</body>
</html>